@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 200;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --carto: #DC0073;
  --explainer: #00A6A6;
  --data: #347FC4;
  --interactive: #F86624;
}

a {
  font-weight: 700;
  color: #272727;
  text-decoration: inherit;
}
a:hover {
  font-weight: 100;
}

body {
  display: flex-start;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 18px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  font-size: 16px;
  font-weight: 100;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust the spacing between cards */
}

.cards h4 {
  font-size: 14px;
  font-weight: 700;
  height: 30px;
}

.card {
  flex: 1 1 calc(33.333% - 1rem); /* Adjust to control the width of each card */
  max-width: calc(33.333%);
  display: flex;
  flex-direction: column; /* To position the content vertically */
}

.legend-container {
  display: flex;
  justify-content: left;
  gap: 1px; /* Space between Legend items */
  margin-bottom: 10px; 
}


.img-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 55px;
  width: 55px;
  background-image: url('new.svg');
  color: #262626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: transform 0.5s ease-in-out;
  filter: drop-shadow(0 0 8px #0000001e);
}

.new:hover {
  transform: rotate(15deg);
}

.carto, .data, .explainer, .interactive {
  position: relative; /* Ensure all circles are positioned relative to the element */
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1px;
  margin-bottom: 10px;
  align-items: center;
  margin-left: -10px;
}

.text-area {
  width: 90%;
}

.legendIcon {
  font-size: 50px;
  top: 0;
  line-height: 0.6;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.legend-container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}


/* Red circle for 'carto' at the top-right */
.carto {
  color: var(--carto);
}

/* Blue circle for 'data' at the top-left */
.data {
  color: var(--data);
}

/* Green circle for 'explainer' at the bottom-left */
.explainer {
  color: var(--explainer);
}

/* Yellow circle for 'interactive' at the bottom-right */
.interactive {
  color: var(--interactive);
}

.key {
  width: 100%;
  margin: 10px 0;
}

.key-label, .key-text {
  font-size: 16px;
  border: none;
  background-color: white;
  cursor: pointer;
}


.highlighted, .key-text:hover {
  background-color: color-mix(in srgb, currentColor 20%, transparent);;
}

#app {
  display: flex-start;
  max-width: 1100px;
  margin: auto;
}

header {
  width: 100%;
  max-width: 1100px;
  top: 0;
  padding: 20px 0;
  position: fixed;
  background-color: hsla(0, 0%, 100%, 0.7);
  z-index: 9999;
  backdrop-filter: blur(6px);
}

.titles {
  width: 49%;
  float: left;
}

#mark {
  position: relative;
  height: 55px;
  width: 55px;
  float: left;
  margin-right: 20px;
  background-color: #F5CB5C;
  border-radius: 50%;
}

#mark {
  position: relative;
  height: 55px;
  width: 55px;
  float: left;
  margin-right: 20px;
  background-color: #F5CB5C;
  border-radius: 50%;
  background-image: url('face.svg');
  background-position: 100px center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-position 0.5s ease-in-out;
}


header #mark:hover {
  background-position: center center;
}

.links {
  position: relative;
  float: right;
  width: 49%;
  text-align: right;
}

.name {
  color: #202030 !important;
  font-weight: 700;
}

.title {
  color: #5A5A5A !important;
}

.top-item {
  display: block;
}

#about:hover #mark:hover {
    background-position: center center;
}

.content {
  padding-top: 150px;
}

.bottom-border {
  display: inline-flex;
  padding-bottom: 1ch;
  width: 100%;
  border-bottom: 1px solid #5A5A5A;
}


.blurb {
  padding-left: 20px;

}

.container {
  display: flex;
  margin-top: 20px;
}

.left {
  flex: 2;
  padding: 0;
  box-sizing: border-box;
}

.left img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 70px;
  float: left;
  overflow: hidden;
}

/* .left img:first-of-type {
  max-width: 100%;
  margin-left: 0;
}

.left img:last-of-type {
  margin-right: 0;
} */

.right {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
}

.right p {
  padding-bottom: 50px;
}


footer {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  color: #5A5A5A;
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
}

.bio {
  width: 50%;
  margin: auto;
}

.bio p {
  font-size: .9em;
}

@media screen and (max-width: 900px) {
  .card {
    flex: 1 1 calc(50% - 10px); /* Adjust to control the width of each card */
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  header {
    position: relative;
  }

  .links {
    width: calc(100% - 75px);
    float: left;
    text-align: left;
    padding: 20px 0 20px 75px;
  }

  .cards {
    flex: block;
    flex-direction: column; /* To position the content vertically */    
  }

  .card {
    flex: 1 1 100%; /* Adjust to control the width of each card */
    max-width: 100%;
    min-height: 250px;
  }
 
  .cards h4 {
    height: auto;
  }

  .titles {
    width: 100%;
  }

  .bio {
    width: 95%;
  }

  .key-text button:first-of-type {
    padding-block: 0;
  }
}